 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="POST">
        {% csrf_token %}
        Name:
        <input type="text" name="name" value="{{name}}"> 
        {% if name_error %}
        <span style="color: red;">{{name_error }}</span>
        {% endif %}
        <br><br>
        Email:
        <input type="email" name="email" value="{{email}}"> 
        {% if email_error %}
        <span style="color: red;">{{ email_error }}</span>
        {% endif %}
        <br><br>
        Passwordd:
        <input type="password" name="password" value="{{password}}"> 
        {% if password_error %} 
        <span style="color: red;">{{ password_error }}</span>
        {% endif %}
        <br><br>
        <input type="submit" value="Submit"> 

        <br>
        <br>
        {% if submitted_details %}
        <h2 style="color: green;"> submitted_details are :</h2>
        <h3>Name: {{ submitted_details.name }}</h3>
        <h3>Email: {{ submitted_details.email }}</h3>
        {% endif %}
    </form>
</body>
</html>